<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="app.css">

    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="foodLimiterApp">
    <div ng-controller="foodLimiterAppController as Ctrl">
        <h2>Is this too much food?</h2>

        <form name="foodForm">

            <label for="foodList">List of food: </label>
            <input type="text" name="foodList" required 
            ng-class="Ctrl.inputClass" ng-model="Ctrl.foodList"> 
            
            <i class="error">*</i> Not considering empty spaces.
            <br><br>
            <button type="text" ng-click="Ctrl.checkAmount()">Check If Too Much</button>
            <br>
            <span ng-class="Ctrl.messageClass">
                {{Ctrl.message}}
            </span>

        </form>
    </div>
</body>
</html>